* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #b3dfff;
}

.calculator {
    width: 300px;
    background-color: #b6b6b6;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
.display {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.buttons {
    display: grid;
    /*tạo 4 cột có kích thước bằng nhau */
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.button {
    font-size: 20px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #5768d2;
    color: white;
}
/*Style phím operator*/
.button.operator {
    background-color: #0a0a0a;
}
.button.equal {
    background-color: #22223b;
    grid-column: span 2;
}
.button.clear {
    background-color: #e63946;
}
/*Kiểu của phím khi đưa chuột lên*/
.button:hover {
    opacity: 0.8;
}
